<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>moveSomeAnswers</name>
        <type>plugin</type>
        <creationDate>2020-06-06</creationDate>
        <lastUpdate>2016-09-06</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://sondages.pro</authorUrl>
        <version>1.0.0</version>
        <license>GPL</license>
        <description><![CDATA[Allow to move some answers directly at end if random is set.]]></description>
    </metadata>
    <compatibility>
        <version>3.0</version>
    </compatibility>
</config>
